body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

p {
    font-weight: bold;
}

.chat {
    padding: 20px;
    border-radius: 5px;
}

.message {
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    clear: both;
    /* メッセージごとにクリア */
}

.user {
    border: 7px solid transparent;
    background-color: #069a98;
    border-radius: 20px;
    line-height: 1.5;
    float: right;
    color: #fff;
}

.response {
    border: 2px solid transparent;
    background-color: #3096d4;
    border-radius: 20px;
    line-height: 2;
    float: left;
    color: #fff;
    margin-left: 5%;
}

.user::before,
.response::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.user::before {
    border-width: 25px 25px 0 0;
    border-color: transparent #069a98 transparent transparent;
    bottom: -7px;
    right: -7px;
}

.response::before {
    border-width: 15px 0 0 15px;
    border-color: transparent transparent transparent #3096d4;
    left: -2px;
    bottom: -2px;
}


.options {
    margin-top: 10px;
}

.box {
    background-color: lightblue;
    margin-top: 20%;
    padding-bottom:5%;
}

button {
    padding: 20px 50px;
    margin-right: 40px;
    margin-top: 5%;
    font-size: 16px;
    border: 1px solid#999;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 5px #069a98;
}

button:first-child {
    margin-left: 10%;
}

button:hover {
    background-color: #069a98;
}

#response.message.response,
#final.message.response {
    display: none;
}



/*-------------------------
        アイコン
-------------------------*/
.icon-box {
    position: relative;
}

.icon-img {
    position: absolute;
    width: 8%;
    top: 0;
    left: -7%;
}


.icon {
    width: 5%;
    position: absolute;
    top: 18%;
    left: 17%;
}

.icons {
    width: 5%;
    position: absolute;
    top: 58%;
    left: 17%;
}
.icon-img img,
.icon img,
.icons img {
    width: 100%;
    border-radius: 50%;
}



/*-------------------------
    相場費用のアニメーション
-------------------------*/
.image-wrapper {
    display: flex;
    width: 50%;
    padding-top: 7%;
    padding-bottom: 5%;
    margin: 0% auto 0% auto;
    position: relative;
    height: 250px;
    /* background-color: #3096d4; */
}

.image-wrapper .drop {
    width: 40%;
    padding-left: 20%;
}

.img-container1,
.img-container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image2 {
    width: 20%;
    position: absolute;
    top: 5%;
    left: -5%;
}

#image {
    position: absolute;
    top: 30%;
}

#image4 {
    width: 20%;
    position: absolute;
    top: 35%;
    left: 50%;
}

#image3 {
    position: absolute;
        top: 62%;
        left: 55%;
}

.image img {
    object-fit: cover;
    animation: fade-in 1s ease-in-out;
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}