body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 20px;
}

.container {
    max-width: 600px;
    margin: 5% auto;
}

p {
    font-weight: bold;
}

.chat {
    padding: 20px;
    border-radius: 5px;
}

.message {
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    clear: both;
    /* メッセージごとにクリア */
}

#firstQuestion,
#firstQuestion2 {
    display: none;
}
.user {
    border: 7px solid transparent;
    background-color: #069a98;
    border-radius: 20px;
    line-height: 1.5;
    float: right;
    color: #fff;
}

.response {
    border: 2px solid transparent;
    background-color: #3096d4;
    border-radius: 20px;
    line-height: 2;
    float: left;
    color: #fff;
    margin-left: 5%;
    position: relative;
    padding-left: 5px;
        text-align: center;
    }
    
    .response:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0px;
        left: -19px;
        border: 8px solid transparent;
        border-right: 18px solid #3096d4;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
}

        /* アイコン */
        .icon-box {
            position: relative;
        }
        .icons {
            content: "";
            position: absolute;
            top: 5%;
        left: -55px;
            transform: translateY(-50%);
            width: 60px;
        height: 60px;
        background-image: url('../images/icon.png');
            background-size: cover;
            border-radius: 50%;
    }
    
    .message.icon::before {
        content: "";
        position: absolute;
        top: 20%;
        left: -50px;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background-image: url('../images/icon.png');
        background-size: cover;
        border-radius: 50%;
}

.icon:nth-child(8)::before,
.icon:nth-child(7)::before,
.icon:nth-child(6)::before {
    background-image: none;
}
.options {
    margin-top: 10px;
}

.box {
    display: none;
    background-color: lightblue;
    margin-top: 20%;
    padding-bottom:5%;
}

button {
    padding: 20px 50px;
    margin-right: 40px;
    margin-top: 5%;
    font-size: 16px;
    border: 1px solid#999;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 5px #069a98;
}

button:first-child {
    margin-left: 10%;
}

button:hover {
    background-color: #069a98;
}

#response.message.response,
#final.message.response {
    display: none;
}

/*-------------------------
  チャット読み込みアニメーション
-------------------------*/
@keyframes dotsAnimation {

    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        transform: translateY(-10px);
        opacity: 0.6;
    }

    50% {
        transform: translateY(10px);
        opacity: 0.3;
    }

    75% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
}


/*-------------------------
    相場費用のアニメーション
-------------------------*/
.image-wrapper {
    display: flex;
    width: 50%;
    padding-top: 7%;
    padding-bottom: 5%;
    margin: 0% auto 0% auto;
    position: relative;
    height: 250px;
    /* background-color: #3096d4; */
}

.image-wrapper .drop {
    width: 40%;
    padding-left: 20%;
}

.img-container1,
.img-container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image2 {
    width: 20%;
    position: absolute;
    top: 5%;
    left: -5%;
}

#image {
    position: absolute;
    top: 30%;
}

#image4 {
    width: 20%;
    position: absolute;
    top: 35%;
    left: 50%;
}

#image3 {
    position: absolute;
        top: 62%;
        left: 55%;
}

.image img {
    object-fit: cover;
    animation: fade-in 1s ease-in-out;
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}